In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("C:/Users/MSI/Downloads/mlcourse/ads.csv")

In [3]:
df.head()

                  Time     Ads
0  2017-09-13T00:00:00   80115
1  2017-09-13T01:00:00   79885
2  2017-09-13T02:00:00   89325
3  2017-09-13T03:00:00  101930
4  2017-09-13T04:00:00  121630

In [4]:
df.tail()

                    Time     Ads
211  2017-09-21T19:00:00  155890
212  2017-09-21T20:00:00  123395
213  2017-09-21T21:00:00  103080
214  2017-09-21T22:00:00   95155
215  2017-09-21T23:00:00   80285

In [5]:
df.sample()

                    Time     Ads
164  2017-09-19T20:00:00  134090

In [6]:
df.sample(4)

                    Time     Ads
107  2017-09-17T11:00:00  161110
9    2017-09-13T09:00:00  116125
211  2017-09-21T19:00:00  155890
69   2017-09-15T21:00:00  112945

In [7]:
df.shape

(216, 2)

In [8]:
df.ndim

2

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    216 non-null    object
 1   Ads     216 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.5+ KB

In [10]:
df.describe()

                 Ads
count     216.000000
mean   121974.050926
std     27259.406772
min     70335.000000
25%     98717.500000
50%    122652.500000
75%    146691.250000
max    169900.000000

In [11]:
df.isnull()

      Time    Ads
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
211  False  False
212  False  False
213  False  False
214  False  False
215  False  False

[216 rows x 2 columns]

In [12]:
df.isnull().sum()

Time    0
Ads     0
dtype: int64

In [13]:
df.isnull().sum().sum()

np.int64(0)

In [14]:
df.columns

Index(['Time', 'Ads'], dtype='object')

In [15]:
df.isnull().any()

Time    False
Ads     False
dtype: bool

In [16]:
df.nunique()

Time    216
Ads     212
dtype: int64

In [17]:
df.Ads

0       80115
1       79885
2       89325
3      101930
4      121630
        ...
211    155890
212    123395
213    103080
214     95155
215     80285
Name: Ads, Length: 216, dtype: int64

In [18]:
df['Ads'].unique()

array([ 80115,  79885,  89325, 101930, 121630, 116475, 106495, 102795,
       108055, 116125, 131030, 149020, 157590, 150715, 149295, 150100,
       144780, 150690, 163840, 166235, 139520, 105895,  96780,  82520,
        80125,  75335,  85105, 102080, 125135, 118030, 109225, 102475,
       102240, 115840, 130540, 144325, 148970, 149150, 148040, 148810,
       149830, 150570, 149440, 150520, 129130, 103815,  92175,  82765,
        76315,  75130,  82640,  88795, 118430, 115190, 110940,  98860,
       104185, 108665, 126640, 140435, 152470, 146275, 148020, 147735,
       145750, 149285, 159725, 161085, 135520, 112945, 100200,  87615,
        87835,  88845,  92350, 104465, 115940, 128950, 141385, 144440,
       143250, 133190, 131240, 142480, 157375, 152500, 153735, 151195,
       150645, 147435, 152525, 146875, 125245, 117925,  96700,  93610,
        89060,  89345,  90575,  98290, 112570, 129470, 141405, 152560,
       152580, 141170, 147550, 161110, 166335, 166780, 163140, 157305,
       159055, 160020, 168345, 169900, 142710, 112955,  97345,  81675,
        79510,  78350,  88045,  99790, 123780, 111325,  99440,  97655,
       102565, 119930, 135755, 140120, 141730, 142220, 145360, 145335,
       150410, 161520, 153415, 134720, 107065,  95045,  79515,  78335,
        74670,  81990,  97950, 119345, 113115,  98880,  94000,  93660,
       119750, 135990, 146455, 139165, 147225, 144935, 151370, 156080,
       161385, 165010, 134090, 105585,  92855,  79270,  79980,  78110,
        85785, 100010, 123880, 116335, 104290, 101440,  97635, 108265,
       121250, 140850, 138555, 140990, 141525, 141590, 140610, 139515,
       146215, 142425, 123945, 101360,  88170,  76050,  70335,  72150,
        80195,  94945, 121910, 113950,  97290, 105635, 114380, 132335,
       146630, 141995, 142815, 146020, 152120, 151790, 155665, 155890,
       123395, 103080,  95155,  80285])

In [19]:
df['Ads'].nunique()

212

In [20]:
df.loc[3]

Time    2017-09-13T03:00:00
Ads                  101930
Name: 3, dtype: object

In [34]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
df.columns = df.columns.str.strip()
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
y = LabelEncoder().fit_transform(y)
X = X.apply(lambda col: LabelEncoder().fit_transform(col))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
from sklearn.preprocessing import StandardScaler
numeric_cols = df.select_dtypes(include=[np.number])
non_numeric_cols = df.select_dtypes(exclude=[np.number])
scaler = StandardScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols) 
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)
final_df = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)
print(final_df.head())
print(scaled_numeric_df.shape)
print()
print('*' * 60)
print(scaled_numeric_df.head())

        Ads                 Time
0 -1.539149  2017-09-13T00:00:00
1 -1.547606  2017-09-13T01:00:00
2 -1.200499  2017-09-13T02:00:00
3 -0.737016  2017-09-13T03:00:00
4 -0.012651  2017-09-13T04:00:00
(216, 1)

************************************************************
        Ads
0 -1.539149
1 -1.547606
2 -1.200499
3 -0.737016
4 -0.012651

In [24]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_numeric_data = scaler.fit_transform(numeric_cols)
# Convert the scaled data back into DataFrame
scaled_numeric_df = pd.DataFrame(scaled_numeric_data, columns=numeric_cols.columns)
# Combine the scaled numeric and original non-numeric columns (if needed)
scaled_data = pd.concat([scaled_numeric_df, non_numeric_cols.reset_index(drop=True)], axis=1)
# Show the shape and first few rows
print(scaled_data.shape)
print()
print('*' * 60)
print(scaled_data.head())

(216, 2)

************************************************************
        Ads                 Time
0  0.098227  2017-09-13T00:00:00
1  0.095917  2017-09-13T01:00:00
2  0.190730  2017-09-13T02:00:00
3  0.317330  2017-09-13T03:00:00
4  0.515191  2017-09-13T04:00:00